#side-panel {
  height: 100%;
  overflow-y: scroll;
  padding: ws(small);

  background: rgba(white, 0.9);
  border-right: 1px solid darken(white, 10%);
  box-sizing: border-box;

  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  opacity: 0;
  transform: translateX(-100px);

  transition: all 0.2s cubic-bezier(0.680, -1.10, 0.265, 0.9);

  &.visible {
    transform: translateX(0px);
    opacity: 1;
  }

  ul#slide-thumbs {
    list-style: none;
    padding: 0;
    text-align: center;

    li {
      width: 80px;
      display: block;
      margin: 0 auto;
      text-align: center;
      border: 1px solid darken(white, 10%);
      border-radius: 5px;
      padding: ws(x-small) 0;

      &:not(:first-of-type) {
        margin-top: ws(medium);
      }
    }
  }
}