.slide {
  width: 100%;
  height: 100%;
  background: #D7DDE6;
  box-sizing: border-box;
  position: relative;
  padding: ws(large);
  z-index: 1;

  &:nth-of-type(even) {
    background: #C2E6D0;
  }

  .title {
    text-align: left;

  }
}