
    <script src="js/libs/jquery.min.js"></script>

    <script src="js/bundle.js"></script>

    <script type='text/javascript' id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.9.10.js'><\/script>".replace("HOST", location.hostname));
//]]></script>
  </body>
</html>