{{> header title='Git & GitHub Presentation'}}


<!-- Slide Partials -->

<div style="position: fixed;z-index:99;right: 100px;">
  <button onclick="previousSlide()">Previous</button>
  <button onclick="nextSlide()">Next</button>
</div>

<section class="slide">
  {{> slide-one}}
</section>
<section class="slide">
  {{> slide-two}}
</section>
<section class="slide">
  {{> slide-three}}
</section>
<section class="slide">
  {{> slide-four}}
</section>


{{> footer}}