{{> header title='Git & GitHub Presentation'}}


<!-- Slide Partials -->

<section class="slide">
  {{> slide-one}}
</section>
<section class="slide">
  {{> slide-two}}
</section>
<section class="slide">
  {{> slide-three}}
</section>
<section class="slide">
  {{> slide-four}}
</section>


{{> footer}}